ADMIN_ADDRESS=0xYourWalletAddress
VRF_COORDINATOR=0x5CE8D5A2BC84be527B2d1A6145F2F2B03f803B9C
VRF_SUBSCRIPTION_ID=12345
VRF_KEY_HASH=0x1770bdc7eec7771f7ba4ffd640f34260d7f095b79c92d34a5b2551d6f6cfd2be
TREASURY_ADDRESS=0xYourTreasuryAddress
BASE_URI=https://api.realmforge.io/meta/
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
BASE_SEPOLIA_RPC=https://sepolia.base.org
OP_SEPOLIA_RPC=https://sepolia.optimism.io
ARBISCAN_API_KEY=YourArbiscanKey
BASESCAN_API_KEY=YourBasescanKey
PRIVATE_KEY=0xYourPrivateKey
